*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear;
    font-family: "Montserrat", sans-serif !important;
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Espaciado adecuado entre elementos */
    padding: 10px 20px;
    transition: all 0.5s;
}
.navbar-scrolled{
    background: #00a1b9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.nav-link:hover{
    color: #00323a !important;
}


.header {
    position: relative;
    text-align: center;
    padding-top: 60px; /* Ajusta según la altura del navbar */
}


.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el elemento */
    z-index: 2; /* Asegura que esté encima de la imagen */
    padding: 10px 20px;
    border-radius: 5px;
    color: white; /* Color del texto */
    text-align: center;
}
.line {
    position: absolute;
    top: calc(50% + 40px); /* Ajusta la posición debajo del título */
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
    height: 4px;
    background: #095f5f;
    border-radius: 5px;
}

.header-img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 161, 185, 0.5); 
}


.nosotros-inf {
    width: 90%; /* Ajusta el ancho */
    margin: 30px auto;
}

.descripcion-inf {
    padding: 30px; /* Espaciado más adaptable */
}

.nosotros-inf h2 {
    text-align: center;
    color: #095f5f;
    font-weight: bold;
    font-size: 40px; /* Reducido para mejor visibilidad */
}

.nosotros-inf p {
    text-align: justify;
    font-size: 18px;
}

.n-video {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Mantiene una relación de aspecto 16:9 */
}

.n-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}



.card {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    background: linear-gradient(#38c0c0, #ebecf8af);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.card-body {
    flex: 1;
    text-align: center;
}

.lista-valores {
    list-style: none;
    padding: 0;
}

.card-title {
    color: #ffffff !important;
    font-weight: bold;
    text-transform: uppercase;
}

.card-text, .lista-valores li {
    color: #000000 !important;
    font-size: 1rem;
}
.lista-valores li::before {
    content: '✍';
    font-size: 20px;
    color: #05807b;
    margin-right: 10px;
}
#mision, #vision, #valores {
    scroll-margin-top: 80px; /* Ajusta según la altura del navbar */
}



.inf-nosotros {  
    width: 100%;
    margin: auto;
    background: linear-gradient(#38c0c0, #ebecf8af), url(../images/contacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
    padding: 35px;
}

.btn-info {
    background-color: #00A8C2;
    font-size: 1rem;
    color: #FFF;
    padding: 12px 30px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.btn-info:hover {
    background: #6fecff;
    color: white;
}
.titulo-inf{
    font-weight: bold;
}


.container {
    margin-top: 40px; /* Ajusta según la separación deseada */
}

.video {
    width: 100%;
    max-width: 500px; 
    aspect-ratio: 16 / 9;
}

.testimonio {
    text-align: center;
    padding: 30px;
}

.titulo {
    margin-bottom: 20px;
    color: #095f5f;
    font-weight: bold;
}


.pie-pagina {
    background: linear-gradient(15deg, #142850, #14365f, #13476f, #125d80, #107792, #0d96a5, #09b8b4, #04ccb1);
    text-align: center;
    padding: 30px 0;
    border-top-left-radius: 125px;
}

.pie-pagina h3, .redes-texto, .texto {
    color: #FFF;
}
.dato-contacto {
    text-align: justify;
}
.dato-contacto li {
    display: block;
    text-align: justify;
    color: #ffffff; /* Texto en blanco */
    font-size: 18px;
    gap: 10px;
}

.iconos-redes {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado uniforme entre iconos */
}

.iconos-redes li {
    list-style: none;
}

.iconos-redes a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.iconos-redes a i {
    font-size: 32px;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #ffffff; /* Amarillo brillante */
}


.iconos-redes a:hover i {
    transform: translateY(-10px);
    color: #6fecff;
}

.texto {
    font-size: 18px;
    margin-top: 15px;
}
.final-pagina{
    background: 
      linear-gradient(135deg,#0000 20.5%,#ffffff 0 29.5%,#0000 0) 0 5px,
      linear-gradient( 45deg,#0000 8%,#ffffff 0 17%, #0000 0 58%) 10px 0,
      linear-gradient(135deg,#0000 8%,#ffffff 0 17%, #0000 0 58%,#ffffff 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%,#ffffff 0 17%, #0000 0 58%,#ffffff 0 67%,#0000 0 83%,#ffffff 0 92%,#0000 0),
      rgba(255, 255, 255, 0);
    background-size: 20px 20px;
    color: transparent;
    width: 100%;
    height: 20px;
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}

@media (max-width:768px) {
.ul-bg{
    text-align: center;    
}  
.nosotros-inf h2 {
        font-size: 30px;
    }
    .nosotros-inf p {
        font-size: 16px;
    }
}


